<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/resume.css">
    <title>My Resume</title>
</head>
<body>
    <nav>
        <div class="container">
            <h1><a href="../index.html">Portfolio</a></h1>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="resume.html">Resume</a></li>
                <li><a href="works.html">Works</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contacts.html">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section class="resume-section">
        <div class="container">
            <div class="resume-content">
                <h2>Education</h2>
                <p>From 2011 to 2022, I studied at the Aga Khan School in Osh.</p>

                <h2>Professional Journey</h2>
                <p>In grades 10-11, I began to be interested in programming and started learning the C# language. Subsequently, I gradually took on freelance orders. Currently, I have a good command of this language, and by the end of the year, I will attempt to secure an internship and a job as a developer in a company.</p>
            </div>
        </div>
    </section>

    <!-- Your content goes here -->

</body>
</html>
